* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: black;
}


/* Blog Section */
.blog-text {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.blog-text h2 {
    /* letter-spacing: 2px; */
    /* font-variant: small-caps; */
    font-size: 2em;
    padding-bottom: 20px;
}

.blog-text h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    font-variant: small-caps;
}

.blog-text p {
    text-align: left;
    padding-bottom: 10px;
}

.blog-img img {
    width: 100%;
    border-radius: 8px;
}

.blog-text button {
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 10px;
    width: 90%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #D91656;
    color: #fff;
    transition: .5s;
}

.blog-text button:last-child {
    background: #fff;
    color: #000;
    transition: 1s;
}

.blog-text button:hover {
    background: #fff;
    color: #000;
    transition: 1s;
}

.blog-text button:hover:last-child {
    background: #D91656;
    color: #fff;
    transition: .5s;
}

@media screen and (min-width:1078px) {
    .blog-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10rem 1rem;
        padding-bottom: 0rem;
    }

    .blog-text {
        color: #fff;
        text-align: left;
        padding: 4rem 1rem;
        gap: 10px;
    }

    .blog-text h2 {
        letter-spacing: 2px;
        font-size: 2em;
        padding-bottom: 20px;
    }

    .blog-text button {
        width: 150px;
    }

    .button-together {
        display: flex;
    }

    .blog-img img {
        width: 80%;
        margin: 1rem 2rem;
        border-radius: 8px;
    }

    .blog-text p {
        text-align: left;
        padding-bottom: 10px;
        line-clamp: 20px;
    }
}

@media screen and (min-width:1508px) {
    .blog-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10rem 5rem;
    }

    .blog-text {
        padding: 7rem 5rem;
        gap: 10px;
    }

    .blog-text h2 {
        font-size: 2.5em;
    }

    .blog-img img {
        width: 90%;
        margin: 1rem 2rem;
    }

    .blog-text button {
        width: 200px;
    }

    .blog-text h3 {
        font-size: 2em;
        padding-bottom: 30px;
    }
}

/* Hamburger section */
.ham-blog-1 {
    padding: 1rem;
    color: #fff;
    background: #800000;
    /* The Other background is for light mode  */
    /* background: #982B1C; */
}

.ham-blog-1-img img {
    width: 100%;
}

.ham-blog-1-text {
    text-align: center;
    /* padding: 1rem; */
}

.ham-blog-1-text h2 {
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 1.7rem;
    font-family: "Merienda", cursive;
}

.ham-blog-1-text p {
    text-align: left;
    padding: 10px 20px;
}

.ham-blog-1 button {
    padding: 20px;
    margin-top: 10px;
    background: #0d0d0d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    transition: 1s;
}

.ham-blog-1 button:hover {
    background: #fff;
    color: #000;
    transition: .5s;
}

@media screen and (min-width:579px) {
    .ham-blog-1-text p {
        text-align: center;
        padding: 10px 20px;
    }
}

@media screen and (min-width:1040px) {
    .ham-blog-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .ham-blog-1-text {
        padding: 5rem 3rem;
        text-align: left;
    }

    .ham-blog-1-text p {
        text-align: left;
        padding: 10px;
    }

    .ham-blog-1-img img {
        width: 80%;
    }
}

@media screen and (min-width:1300px) {
    .ham-blog-1-img {
        width: 100%;
        padding-left: 2rem;
    }

    .ham-blog-1-text {
        padding: 6rem 2rem;
        text-align: left;
    }
}

/* MORE CARD */
.more-card {
    padding: 1rem;
    color: #fff;
}

.more-card-head {
    text-align: center;
    padding: 1rem;
}

.more-card-head h2 {
    font-variant: small-caps;
    padding: 20px 0px;
    font-size: 19px;
}

.more-card-head p {
    font-size: 16px;
}

.more-card-grid {
    padding: 1rem;
}

.more-card-grid-body {
    padding: 1rem 0rem;
}

.more-card-grid-text {
    padding: 1rem 0rem;
    text-align: center;
}

.more-card-grid-text h3 {
    font-size: 13px;
}

.more-card-grid-text button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #D91656;
    cursor: pointer;
}

.more-card-grid-text button:hover {
    background: #fff;
    color: #000;
    transition: .5s;
}

.more-card-grid-body .more-card-grid-img img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width:678px) {
    .more-card-grid {
        text-align: center;
        padding: 1rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

}

@media screen and (min-width:1034px) {

    .more-card-grid-body .more-card-grid-img img {
        width: 70%;
        border-radius: 10px;
    }

    .more-card-grid-text button {
        width: 300px;
        margin-top: 20px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        background: #D91656;
        cursor: pointer;
    }

    .more-card-head {
        text-align: center;
        padding: 1rem 10rem;
    }

    .more-card-grid-text h3 {
        font-size: 18px;
    }

    .more-card-grid-body {
        padding: 1rem 0rem;
    }

    .more-card {
        padding: 1rem 4rem;
        color: #fff;
    }
}

/* smash section */
.redeem {
    padding: 1rem;
    background: #800000;
    /* The Other background is for light mode  */
    /* background: #982B1C; */
}

.redeeem-body-img img {
    width: 90%;
    padding-top: 2rem;
}

.redeem-text {
    padding: 1rem 0rem;
}

.redeem-text h3 {
    padding: 1rem 0rem;
    font-weight: 300;
    color: #fff;
}

.redeem-text button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 90%;
    background: #D91656;
    cursor: pointer;
}

@media screen and (min-width:919px) {
    .redeem-text {
        padding: 1rem 4rem;
    }
}

@media screen and (min-width:1030px) {
    .redeem {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .redeeem-body-img img {
        width: 90%;
        padding-top: 3rem;
    }

    .redeem-text {
        padding: 4rem;
    }

    .redeem-text h3 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .redeem-text button {
        width: 250px;
        background: #D91656;
        cursor: pointer;
    }
}

@media screen and (min-width:1339px) {
    .redeem-text {
        padding: 8rem 5rem;
    }
}

/* Smash section */

.smash-cash {
    padding: 1rem;
    text-align: center;
    color: #fff;
    background: #D91656;
}

.smash-cash-text {
    padding: 1rem;
}

.smash-cash-text h2 {
    padding: 10px;
}

.smash-cash-text p {
    text-align: left;
}

.smash-cash-img img {
    width: 90%;
    border-radius: 10px;
    padding-top: 1rem;
}

@media screen and (min-width:1060px) {
    .smash-cash {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        text-align: center;
        color: #fff;
        background: #D91656;
    }

    .smash-cash-text {
        padding: 2rem 1rem;
    }

    .smash-cash-text h2 {
        padding: 10px;
        text-align: left;
    }
}

@media screen and (min-width:1339px) {
    .smash-cash-text {
        padding: 5rem 1rem;
    }
}

/* Faqs Section */
.section {
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 5rem; */
}

.section h2 {
    font-size: 2rem;
    padding: 1rem;
}

.faq {
    max-width: 500px;
    margin-top: 2rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    /* margin-bottom: 3rem; */
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.5rem;
}

.answer {
    max-height: 0;
    transition: max-height 1s ease;
    overflow: hidden;
}

.answer p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding-top: 1rem;
}

.faq.active .answer {
    max-height: 600px;
}

i {
    transition: transform .5s ease-in;
}

.faq.active i {
    transform: rotate(180deg);
}