/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ga Maamli", sans-serif;
}

header .brand:hover {
    color: #09a6d4;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    background: #09a6d4;
}

/* media for header and navigation */
@media screen and (max-width:1085px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

}

/* main slider */
.main {
    height: 100vh;
    width: 100%;
    cursor: grab;
}

.main:active {
    cursor: grabbing;
}

.wrapper,
.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-data p {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    font-family: "Rubik Bubbles", system-ui;
}

.slide {
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.image-data span.text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: "Chewy", system-ui;
}

.image-data h2 {
    padding: 10px 0px;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    cursor: auto;
    font-family: "Merienda", cursive;
}



a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}

a.button:hover {
    color: #fff;
    background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
    right: 50px;
}

.swiper-button-prev {
    left: 50px;
}

.nav-btn::before,
.nav-btn::after {
    font-size: 25px;
    color: #fff;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c87e4f;
}

/* media for other tablet or other screens within 1000px */
@media screen and (max-width: 755px) {
    .image-data p {
        font-size: 16px;
        line-height: 30px;
    }
}

/* media for pagination */
@media screen and (max-width: 1085px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }
}


/* media for phone */
@media screen and (max-width:587px) {
    .image-data p {
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
    }

    .image-data h2 {
        padding: 10px 0px;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        cursor: auto;
        font-family: "Merienda", cursive;
    }
}

/* media for smaller phones */
@media screen and (max-width:414px) {
    .image-data p {
        font-size: 12px;
        line-height: 22px;
        padding: 10px;
    }

    .image-data h2 {
        padding: 10px 10px;
        font-size: 28px;
        font-weight: 600;
        color: #fff;
        cursor: auto;
        font-family: "Merienda", cursive;
    }
}

/* first section of the website (The one above is the hero/landing section) */

.first-section {
    background-color: #5F6F65;
    /* color: #fff; */
}

.div-first-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.first-section-word {
    padding-top: 5rem;
}

.first-section-word h2 {
    font-size: 6rem;
    font-family: "Rubik Bubbles", system-ui;
}

.span2 {
    color: #c87e4f;
    font-family: "Ga Maamli", sans-serif;
}

@media screen and (max-width:1320px) {
    .first-section-image img {
        width: 100%;
    }

    .first-section-image {
        padding-top: 2rem;
    }
}

@media screen and (max-width:1123px) {
    .first-section-word h2 {
        font-size: 4.5rem;
        font-family: "Rubik Bubbles", system-ui;
    }
}

@media screen and (max-width:1002px) {
    .div-first-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .first-section {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 0px;
    }

    .first-section-word {
        padding-top: 0rem;
    }

    .first-section-image img {
        width: 100%;
    }
}

@media screen and (max-width:454px) {
    .first-section-word h2 {
        font-size: 3rem;
        font-family: "Rubik Bubbles", system-ui;
    }

    .first-section-word {
        padding-top: 0rem;
    }
}